In [1]:
import pandas as pd

In [3]:
vehid = pd.read_csv('../data/trajectory/vehid.csv')
vehid.head()

   Unnamed: 0     0
0           0  2509
1           1  2842
2           2  2891
3           3  2299
4           4  2546

In [10]:
T = pd.read_csv('../data/trajectory/T.csv')
T.head()

   Unnamed: 0       0
0           0  8124.0
1           1  8914.0
2           2  8582.0
3           3  8476.0
4           4  8853.0

In [11]:
T.shape

(1505756, 2)

In [5]:
dsID = pd.read_csv('../data/trajectory/dsID.csv')
dsID.head()

   Unnamed: 0  0
0           0  5
1           1  1
2           2  1
3           3  2
4           4  5

In [12]:
dsID.shape

(1505756, 2)

In [7]:
pred_x = pd.read_csv('../data/trajectory/pred_x.csv')

(5, 1505757)

In [14]:
pred_x = pred_x[pred_x.columns[1:]]

In [15]:
pred_x.shape # 5 step predictions, prediction steps

(5, 1505756)

In [16]:
pred_y = pd.read_csv('../data/trajectory/pred_y.csv')
pred_y = pred_y[pred_y.columns[1:]]
pred_y.shape

(5, 1505756)

In [17]:

ts_cen = pd.read_csv('../data/trajectory/ts_cen.csv')
ts_cen.shape

(1505756, 17)

In [20]:
ts_cen.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0,0.000169,0.000309,0.000296,0.000234,0.000334,0.000343,0.000419,0.000424,0.000436,0.000411,0.000419,0.000392,0.000405,0.000566,0.002826,0.992017
1,1,0.001236,0.000501,0.000510,0.000540,0.000539,0.000525,0.000462,0.000409,0.001141,0.002831,0.001678,0.002120,0.003393,0.015750,0.080442,0.887925
2,2,0.000204,0.000258,0.001132,0.000313,0.000326,0.000377,0.000401,0.000340,0.000273,0.000173,0.000149,0.000171,0.000234,0.000886,0.014852,0.979912
3,3,0.000849,0.000356,0.000237,0.000220,0.000577,0.001361,0.000924,0.001017,0.001051,0.001071,0.001276,0.001980,0.004009,0.014888,0.044771,0.925413
4,4,0.000671,0.001362,0.000841,0.000996,0.001195,0.001223,0.001545,0.001708,0.001931,0.001801,0.001705,0.002171,0.002327,0.002451,0.019410,0.958662

In [18]:

ts_nbr = pd.read_csv('../data/trajectory/ts_nbr.csv')
ts_nbr.shape

(10857813, 17)

In [21]:
ts_nbr.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0,0.159274,0.060968,0.056631,0.056151,0.056022,0.055992,0.055962,0.055931,0.055896,0.055799,0.055139,0.054600,0.054597,0.055166,0.055629,0.056244
1,1,0.290321,0.073840,0.071124,0.066086,0.065690,0.063890,0.064179,0.064259,0.064349,0.061711,0.049348,0.033668,0.015285,0.010354,0.004344,0.001553
2,2,0.103158,0.005937,0.000650,0.000259,0.000165,0.000191,0.000384,0.000415,0.000395,0.000448,0.000852,0.001658,0.002129,0.003800,0.156922,0.722636
3,3,0.002329,0.007012,0.004995,0.006069,0.008018,0.013201,0.021519,0.035318,0.057062,0.080588,0.100642,0.115500,0.126850,0.135008,0.140760,0.145130
4,4,0.009540,0.025810,0.048397,0.055783,0.058759,0.062234,0.067040,0.071655,0.074563,0.076125,0.076706,0.076508,0.075680,0.074499,0.073526,0.073174

In [19]:

wt_ha = pd.read_csv('../data/trajectory/wt_ha.csv')
wt_ha.shape

(1505756, 41)

In [22]:
wt_ha.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,30,31,32,33,34,35,36,37,38,39
0,0,0.000884,0.000884,0.000884,0.007989,0.000884,0.001831,0.000884,0.000884,0.000884,...,0.008976,0.099229,0.000884,0.000884,0.000884,0.000884,0.008450,0.030873,0.000884,0.773378
1,1,0.002488,0.002488,0.002488,0.002488,0.004896,0.002488,0.002488,0.002488,0.002488,...,0.002488,0.002488,0.002488,0.002488,0.002488,0.002488,0.002488,0.002488,0.002488,0.816026
2,2,0.000919,0.000968,0.000493,0.000919,0.000919,0.000919,0.006062,0.000919,0.000771,...,0.011069,0.000919,0.009172,0.000919,0.094442,0.000919,0.000919,0.000919,0.000919,0.695890
3,3,0.001904,0.001904,0.001904,0.001904,0.002212,0.001152,0.001904,0.001904,0.001904,...,0.001904,0.001904,0.070896,0.001904,0.001904,0.001904,0.001904,0.001904,0.001904,0.841663
4,4,0.012553,0.002637,0.002637,0.002637,0.002637,0.001590,0.002637,0.002637,0.002637,...,0.002637,0.002637,0.002637,0.002637,0.002637,0.002637,0.002637,0.002637,0.002637,0.828206