In [1]:
import pandas as pd

In [3]:
vehid = pd.read_csv('../data/trajectory/vehid.csv')
vehid.head()

   Unnamed: 0     0
0           0  2509
1           1  2842
2           2  2891
3           3  2299
4           4  2546

In [10]:
T = pd.read_csv('../data/trajectory/T.csv')
T.head()

   Unnamed: 0       0
0           0  8124.0
1           1  8914.0
2           2  8582.0
3           3  8476.0
4           4  8853.0

In [11]:
T.shape

(1505756, 2)

In [5]:
dsID = pd.read_csv('../data/trajectory/dsID.csv')
dsID.head()

   Unnamed: 0  0
0           0  5
1           1  1
2           2  1
3           3  2
4           4  5

In [12]:
dsID.shape

(1505756, 2)

In [7]:
pred_x = pd.read_csv('../data/trajectory/pred_x.csv')

(5, 1505757)

In [14]:
pred_x = pred_x[pred_x.columns[1:]]

In [15]:
pred_x.shape # 5 step predictions, prediction steps

(5, 1505756)

In [9]:
pred_y = pd.read_csv('../data/trajectory/pred_y.csv')
pred_y = pred_y[pred_y.columns[1:]]
pred_y.shape

(5, 1505757)

In [ ]:

ts_cen = pd.read_csv('../data/trajectory/ts_cen.csv')
ts_cen.shape

In [ ]:

ts_nbr = pd.read_csv('../data/trajectory/ts_nbr.csv')
ts_nbr.shape

In [ ]:

wt_ha = pd.read_csv('../data/trajectory/wt_ha.csv')
wt_ha.shape